<div class="portfolio_comment-form">
    <%= form_with(model: [portfolio, portfolio_comment]) do |f| %>
      <div class="input-field">
        <%= f.text_area :comment%>
        <%= f.label :comment, "コメント内容", class: "active" %>
        <span class="helper-text" data-error="wrong" data-success="right">1から140文字以内</span>
      </div>
      <div class="portfolio_comment-button">
        <%= button_tag :type => "submit", :class =>"waves-effect waves-light btn" do %>
          <%= t('.portfolio_comment') %>
        <% end %>
      </div>
    <% end %>
  </div>