<%= form_with(model: portfolio_comment, local: true) do |form| %>
  <% if portfolio_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio_comment.errors.count, "error") %> prohibited this portfolio_comment from being saved:</h2>

      <ul>
      <% portfolio_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :portfolio_id %>
    <%= form.text_field :portfolio_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
