<p id="notice"><%= notice %></p>

<h1>Portfolio Comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Portfolio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolio_comments.each do |portfolio_comment| %>
      <tr>
        <td><%= portfolio_comment.comment %></td>
        <td><%= portfolio_comment.portfolio %></td>
        <td><%= link_to 'Show', portfolio_comment %></td>
        <td><%= link_to 'Edit', edit_portfolio_comment_path(portfolio_comment) %></td>
        <td><%= link_to 'Destroy', portfolio_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portfolio Comment', new_portfolio_comment_path %>
