<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @portfolio_comment.comment %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @portfolio_comment.portfolio %>
</p>

<%= link_to 'Edit', edit_portfolio_comment_path(@portfolio_comment) %> |
<%= link_to 'Back', portfolio_comments_path %>
