<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!-- Main navigation -->
  <!-- Full Page Intro -->
  <section style="background-image: url('/assets/website-1624028_1280.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container py-5 my-5">
        <h3 class="font-weight-bold text-center white-text pb-2">無料で始めましょう</h3>
        <p class="lead text-center white-text pt-2 mb-5">Supports the best LoL life</p>  
        <!--Grid row-->
        <div class="row d-flex align-items-center justify-content-center">
          <!--Grid column-->
          <div class="col-md-6 col-xl-5">
            <!--Form-->
            <div class="card">
                <!-- Email -->
                <div class="md-form">
                  <i class="fa fa-envelope prefix black-text"></i>
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                <!-- password -->
                <div class="md-form">
                  <i class="fas fa-key prefix black-text"></i>
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "current-password" %>
                </div>
                <div class="text-center my-3">
                  <div class="actions">
                    <button class="btn btn-indigo btn-block">ログイン</button>
                  </div>
                </div>
              </div>
            </div>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    <!-- Mask & flexbox options-->
  </section>
  <!-- Full Page Intro -->
<!-- Main navigation -->

<% end %>
