<%= form_with(model: @portfolio, local: true, url: choose_new_or_edit) do |form| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= @portfolio.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @portfolio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="portfolio_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="portfolio_comment">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>
  <div class="portfolio_creation_period">
    <%= form.label :creation_period %>
    <%= form.select :creation_period, ['〜２０時間', '２０時間〜４０時間', '４０時間〜６０時間', '６０時間〜１００時間', '１００時間〜２００時間', '２００時間〜３００時間', '３００時間〜' ], {include_blank: '制作時間を選択してください'}, class: 'creation_period' %>
  </div>
  <div class="portfolio_study_period">
    <%= form.label :study_period %>
    <%= form.select :study_period, ['〜１ヶ月', '１ヶ月〜２ヶ月', '２ヶ月〜３ヶ月', '３ヶ月〜半年', '半年〜１年', '１年〜２年', '２年〜３年', '３年〜' ], {include_blank: '制作時の学習歴を選択してください'}, class: 'study_period' %>
  </div>
  <div class="portfolio_deploy_url">
    <%= form.label :deploy_url %>
    <%= form.text_field :deploy_url %>
  </div>
  <div class="portfolio_github_url">
    <%= form.label :github_url %>
    <%= form.text_field :github_url %>
  </div>
  <div class="programming_language">
   <%= form.label :programming_language %>
    <% ProgrammingLanguage.all.each do |programming_language| %>
        <% if action_name == 'new' || action_name == 'create' %>
          <%= form.check_box :programming_language_ids, { multiple: true, checked: programming_language[:checked], disabled: programming_language[:disabled], include_hidden: false}, programming_language[:id], "" %>
          <label><%= programming_language.name %></label>
        <% elsif action_name == 'edit' || action_name == 'update' %>
          <%= form.check_box :programming_language_ids, { multiple: true, checked: @portfolio.programming_language_ids.include?(programming_language.id), disabled: programming_language[:disabled], include_hidden: false}, programming_language[:id], "" %>
          <label><%= programming_language.name %></label>
        <% end %>
      <% end %>
    </div>
  <%= form.submit %>
<% end %>

<%= link_to '新着投稿ポートフォリオ一覧へ', portfolios_path %>
