<h1>いいねランキング</h1>
<table>
  <tr>
    <th></th>
    <th>アプリ名</th>
    <th>作者</th>
    <th>いいね数</th>
    <th>ランキング</th>
  </tr>

<% @all_ranks.each.with_index(1) do |portfolio, rank| %>
  <tr>
    <td><img src=<%= portfolio.user.profile_image %> class = "icon_image"></td>
    <td><%= portfolio.name %></td>
    <td><%= portfolio.user.name %></td>
    <td><%= render partial: 'portfolios/portfolios', locals: { portfolio: portfolio } %></td>
    <td>No,<%= "#{rank}" %></td>
    <td><%= link_to 'ポートフォリオ詳細へ', portfolio_path(portfolio.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to '新着投稿ポートフォリオ一覧へ', portfolios_path %>