<div class="container">
  <h1 class="row justify-content-center">検索結果</h1>
  <%= paginate @portfolios %>
  <% @portfolios.each do |portfolio| %>
  <div class="card">
    <div class="container">
      <br><br>
      <div class="row justify-content-center">
        <div class="col-3">
          <% if portfolio.user.profile_image? %>
            <p><%= image_tag portfolio.user.profile_image.url, class: "user_image icon_image" %></p>
          <% else %>
            <p><%= image_tag "/assets/default.png", class:"blunk_user_image" %></p>
          <% end %>         
          <p class="user_name"><%= t('view.creator') %>：<%= portfolio.user.name %></p>
        </div>
        <div class="col-4">
          <p><%= t('view.app_name') %>：<%= portfolio.name %></p>
          <p><%= t('view.school_or_selftaught') %>: <%= portfolio.user.school.name %></p>
          <p><%= t('view.creation_period') %>: <%= portfolio.creation_period %></p>
          <p><%= t('view.study_period') %>: <%= portfolio.study_period %></p>
          <p><%= t('view.programming_language') %></p>
          <% portfolio.portfolio_languages.each do |portfolio_language| %>
            <p class="portfolio_language"><%= portfolio_language.programming_language.name %></p>
          <% end %>
          <p><%= link_to 'ポートフォリオ詳細へ', portfolio_path(portfolio.id) %></p>
        </div>
        <div class="col-3">
          <%= t('view.likes') %><%= render partial: 'portfolios/portfolios', locals: { portfolio: portfolio } %>
          <%= link_to t('view.deploy_url_link'), portfolio.deploy_url, class: 'URL' %>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <% end %>
</div>
  
  