<h1>ポートフォリオ詳細</h1>
<p>アプリ名: <%= @portfolio.name %></p>
<p>作者名: <%= @portfolio.user.name %></p>
<p>作者のコメント: <%= @portfolio.comment %></p>
<p>制作時間: <%= @portfolio.creation_period %></p>
<p>制作時の学習歴: <%= @portfolio.study_period %></p>
<p>使用言語</p>
  <% @portfolio.portfolio_languages.each do |portfolio_language| %>
  <td class="portfolio_language"><%= portfolio_language.programming_language.name %></td>
  <% end %>
<p>デプロイ先: <%= @portfolio.deploy_url %></p>
<p>GitHub: <%= @portfolio.github_url %></p>
<p>コメント一覧</p>
  <!-- このportfolio_comments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="portfolio_comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'portfolio_comments/index', locals: { portfolio_comments: @portfolio_comments, portfolio: @portfolio } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'portfolio_comments/form', locals: { portfolio_comment: @portfolio_comment, portfolio: @portfolio } %>
<%= link_to '新着投稿ポートフォリオ一覧へ', portfolios_path %>