<h1 class="row justify-content-center">ポートフォリオ詳細</h1>

<div class="container">
    <div class="card">
        <br>
        <div class="row justify-content-center">
            <div class="col-3">
                <% if @portfolio.user.profile_image? %>
                <p><%= image_tag @portfolio.user.profile_image.url, class: "user_image icon_image" %></p>
                <% else %>
                <p><%= image_tag "/assets/default.png", class:"blunk_user_image" %></p>
                <% end %>
                <p><%= t('view.creator') %>: <%= @portfolio.user.name %></p>
            </div>
            <div class="col-4">
                <p><%= t('view.app_name') %>: <%= @portfolio.name %></p>
                <p><%= link_to t('view.creator_details'), "/user/#{@portfolio.user.id}", class: "btn btn-cyan" %></p>
                <p><%= t('view.school_or_selftaught') %>: <%= @portfolio.user.school.name %></p>
                <p><%= t('view.creation_period') %>: <%= @portfolio.creation_period %></p>
                <p><%= t('view.study_period') %>: <%= @portfolio.study_period %></p>
                <p><%= t('view.programming_language') %></p>
                <% @portfolio.portfolio_languages.each do |portfolio_language| %>
                <p class="portfolio_language"><%= portfolio_language.programming_language.name %></p>
                <% end %>
                <%= link_to t('view.deploy_url_link'), @portfolio.deploy_url, class: 'URL', id: 'btn-gradient-3d-orange' %>
                <p><%= t('view.github_url') %>: <%= @portfolio.github_url %></p>
                <p><%= t('view.producer_comments') %>: <%= @portfolio.comment %></p>
                <p><%= t('view.like') %><%= render partial: 'portfolios/portfolios', locals: { portfolio: @portfolio } %></p>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="card">
        <p class="row justify-content-center">アプリに対するコメント一覧</p>
        <!-- このportfolio_comments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
        <div id="portfolio_comments_area">
            <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
            <%= render partial: 'portfolio_comments/index', locals: { portfolio_comments: @portfolio_comments, portfolio: @portfolio } %>
        </div>
    </div><br>
    <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
    <div class="row justify-content-center">
        <%= render partial: 'portfolio_comments/form', locals: { portfolio_comment: @portfolio_comment, portfolio: @portfolio } %>
    </div>
</div>
