<h1>ポートフォリオ詳細</h1>
<p>アプリ名: <%= @portfolio.name %></p>
<p>作者名: <%= @portfolio.user.name %></p>
<p>作成期間: <%= @portfolio.creation_period %></p>
<p>作成時の学習歴: <%= @portfolio.study_period %></p>
<p>使用言語</p>
<p>作者のコメント: <%= @portfolio.comment %></p>
<p>デプロイ先: <%= @portfolio.deploy_url %></p>
<p>GitHub: <%= @portfolio.github_url %></p>