<%
=begin%>
 ポートフォリオ投稿者本人のマイページ 
<%
=end%>
<% if @user.id == current_user.id %>
<div class="user_show">
  <h1><%= @user.name %>のページ</h1>
  <img src=<%= @user.profile_image %> class = "icon_image">
  <p>メールアドレス: <%= @user.email %></p>
  <p>学習開始時期： <%= @user.learning_start.strftime("%Y年%m月") %></p>
  <p>スクール： <%= @user.school.name %></p>
  <p>自己紹介文： <%= @user.introduce %></p>

  <h2><%= @user.name %>が投稿したポートフォリオ一覧</h2>
  <% @user.portfolios.each do |portfolio| %>
    <tr>
      <td><%= portfolio.name %></td>
      <td><%= render partial: 'portfolios/portfolios', locals: { portfolio: portfolio } %></td>
      <td><%= link_to 'ポートフォリオ詳細へ', portfolio_path(portfolio.id) %></td>
      <td><%= link_to 'ポートフォリオ編集へ', edit_portfolio_path(portfolio.id), data: {confirm: '本当に編集してよろしいですか？'}  %></td>
      <td><%= link_to 'ポートフォリオを削除する', portfolio_path(portfolio.id), method: :delete, data: {confirm: '本当に削除してよろしいですか？'} %></td>
    </tr>
  <% end %>
</div>

<%= link_to 'プロフィール編集する', edit_user_registration_path(@user) %>
<%= link_to 'ポートフォリオ投稿', new_portfolio_path %>

<% else %>

<%
=begin%>
 作者以外が見る、作者のプロフィールページ 
<%
=end%>
<div class="user_show">
  <h1><%= @user.name %>のプロフィール</h1>
  <img src=<%= @user.profile_image %> class = "icon_image">
  <p>学習開始時期： <%= @user.learning_start.strftime("%Y年%m月") %></p>
  <p>スクール： <%= @user.school.name %></p>
  <p>自己紹介文： <%= @user.introduce %></p>

  <h2><%= @user.name %>が投稿したポートフォリオ一覧</h2>
  <% @user.portfolios.each do |portfolio| %>
    <tr>
      <td><%= portfolio.name %></td>
      <td><%= render partial: 'portfolios/portfolios', locals: { portfolio: portfolio } %></td>
      <td><%= link_to 'ポートフォリオ詳細へ', portfolio_path(portfolio.id) %></td>
    </tr>
  <% end %>
</div>

<% end %>