<div class="user_show">
  <h1><%= @user.name %>のページ</h1>
  <img src=<%= @user.profile_image %> class = "icon_image">
  <p>メールアドレス: <%= @user.email %></p>
  <p>自己紹介文： <%= @user.introduce %></p>

   <%= link_to '編集する', edit_user_registration_path(@user) %>
</div>